.phonetics {
  display: flex;
  flex-direction: row;
  margin-left: 27%;
  width: 45%;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.name {
  margin-bottom: 1rem;
  font-size: 50px;
  font-weight: bolder;
}
.phonetics-text {
  font-size: 30px;
  color: purple;
}
.play {
  cursor: pointer;
}
.Meaning {
  margin-left: 27%;
  width: 45%;
}
